@font-face 
{
  font-family: Benguiat;
  src: url("../fonts/BenguiatStd-Medium.otf") format("opentype");
}

@font-face 
{
  font-family: Benguiat;
  font-weight: bold;
  src: url("../fonts/BenguiatStd-Bold.otf") format("opentype");
}

.stranger-font
{
  font-family: Benguiat;
  line-height: 0.8;
}

body 
{
  padding-top: 5rem;
}

.starter-template 
{
  padding: 3rem 1.5rem;
  text-align: center;
}

