@font-face {
  font-family: 'BenguiatStd-Bold';
  src: url('../fonts/BenguiatStd-Bold.woff2') format('woff2'),
      url('../fonts/BenguiatStd-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BenguiatStd-Book';
  src: url('../fonts/BenguiatStd-Book.woff2') format('woff2'),
      url('../fonts/BenguiatStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BenguiatStd-Medium';
  src: url('../fonts/BenguiatStd-Medium.woff2') format('woff2'),
      url('../fonts/BenguiatStd-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.stranger-font
{
  font-family: Benguiat;
  color: #000;
}

.bg-dark
{
  background-color: #000 !important;
}

h1.stranger-font
{
  font-size: 8rem;
  -webkit-text-stroke: 1px #ed0207;
  text-transform: uppercase;
  line-height: 0.8;
  padding-top: 20px;
}

h1.stranger-font.subtext
{
  top: -25px;
  position: relative;
  background-color: #000;
}

.red-border-box
{
  border: 1px solid #ed0207;
  height: 5px;
}

.top-text
{
  vertical-align: top;
  position: relative;
}

h1.stranger-font .first-letter, 
h1.stranger-font .last-letter
{
  font-size: 10rem;
}

body 
{
  padding-top: 5rem;
}

.starter-template 
{
  /*padding: 3rem 1.5rem;*/
  text-align: center;
}

